.card {
  height: 220px;
  font-family: 'Open Sans';
  border-radius: 4px;

  &-header {
    display: flex;
    justify-content: space-between;

    &-title {
      &-link,
      &-link:hover {
        color: var(--cyan-7);
      }
    }

    &-heartFilled {
      color: var(--red-6);
    }
  }

  &-content {
    padding-top: 15px;
  }

  &-footer {
    width: 255px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;

    @media (max-width: $sm) {
      width: 302px;
    }

    @media (max-width: $xs) {
      width: 277px;
    }
  }
}
