.card {
  font-family: 'Open Sans';
  border-radius: 4px;

  &-header {
    display: flex;
    justify-content: flex-start;

    &-title {
      &-link {
        color: var(--cyan-7);
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
  }
}
