.input-search {
  font-family: 'Open Sans';

  span {
    border-color: var(--grey-5);
  }

  span,
  span:focus {
    box-shadow: none;
  }

  span:hover {
    border-color: var(--cyan-5);
  }

  button {
    box-shadow: none;
  }

  button,
  button:focus {
    background: var(--cyan-7);
    border-color: var(--cyan-7);
  }

  button:hover {
    background: var(--cyan-5);
    border-color: var(--cyan-5);
  }
}
