.menu {
  background: var(--cyan-7);

  &-logo {
    margin-bottom: 5px;
  }

  &-dropdown {
    float: right;
    padding-right: 22px;

    &-icon {
      svg {
        height: 18px;
        width: 18px;
      }
    }

    &-item,
    &-item-selected {
      font-family: 'Open Sans';
    }

    &-item-selected {
      a,
      a:hover {
        color: var(--cyan-7);
      }
    }

    &-item {
      a:hover,
      div:hover {
        color: var(--cyan-6);
      }
    }
  }
}
