.register-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-form {
    font-family: 'Open Sans';

    &-submit {
      width: 100%;
    }
  }
}
