.register-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-form {
    font-family: 'Open Sans';
    width: 386px;

    @media (max-width: $xs) {
      width: 346px;
    }

    &-submit {
      width: 100%;
      margin-top: 30px;
    }
  }

  &-loginLink {
    font-family: 'Open Sans';
    width: 386px;
    cursor: default;

    @media (max-width: $xs) {
      width: 346px;
    }

    a {
      color: var(--cyan-7);
      font-weight: bold;
    }
  }
}
