.register-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-form {
    font-family: 'Open Sans';

    &-submit {
      width: 100%;
    }
  }

  &-loginLink {
    font-family: 'Open Sans';
    width: 242px;
    cursor: default;

    a {
      color: var(--cyan-7);
      font-weight: bold;
    }
  }
}
