.ant {
  &-btn {
    &-loading {
      &::before {
        background: transparent !important;
      }
    }
  }

  &-checkbox,
  &-checkbox-wrapper {
    * {
      border-color: var(--grey-6) !important;
    }

    &:hover {
      * {
        border-color: var(--cyan-6) !important;
      }
    }
  }

  &-checkbox-checked &-checkbox-inner {
    background: var(--cyan-6) !important;
    border-color: var(--cyan-6) !important;
  }

  &-checkbox-checked::after {
    border-color: var(--cyan-6) !important;
  }

  &-input {
    color: inherit !important;
  }

  &-menu {
    ::after {
      border: none !important;
    }

    &-submenu {
      border: none !important;
    }

    &-item {
      background: inherit !important;
      border: none !important;

      &-selected {
        color: inherit !important;
      }

      &-active {
        color: inherit !important;
      }
    }
  }

  &-tabs {
    &-tab {
      font-family: 'Open Sans' !important;

      &:hover {
        color: var(--cyan-6) !important;
      }

      &-active {
        color: var(--cyan-7) !important;
      }
    }

    &-ink-bar {
      background: var(--cyan-7) !important;
    }
  }
}
