.ant {
  &-btn {
    &-loading {
      &::before {
        background: transparent !important;
      }
    }
  }

  &-checkbox,
  &-checkbox-wrapper {
    * {
      border-color: var(--grey-6) !important;
    }

    &:hover {
      * {
        border-color: var(--cyan-5) !important;
      }
    }
  }

  &-checkbox-checked &-checkbox-inner {
    background: var(--cyan-5) !important;
    border-color: var(--cyan-5) !important;
  }

  &-checkbox-checked::after {
    border-color: var(--cyan-5) !important;
  }

  &-input {
    color: inherit !important;
  }

  &-input-group-wrapper {
    @media (max-width: $xs) {
      position: absolute !important;
      left: 0 !important;
      top: 62px !important;
    }
  }

  &-menu {
    ::after {
      border: none !important;
    }

    &-submenu {
      border: none !important;
    }

    &-item {
      background: inherit !important;
      border: none !important;

      &-selected {
        color: inherit !important;
      }

      &-active {
        color: inherit !important;
      }
    }
  }

  &-tabs {
    &-content {
      @media (max-width: $xs) {
        padding-top: 62px !important;
      }
    }

    &-tab {
      font-family: 'Open Sans' !important;

      &:hover {
        color: var(--cyan-5) !important;
      }

      &-active {
        color: var(--cyan-7) !important;
      }
    }

    &-ink-bar {
      background: var(--cyan-7) !important;
    }

    &-extra-content {
      width: 300px !important;
      padding-top: 13px !important;

      @media (max-width: $xs) {
        width: auto !important;
      }
    }
  }
}
