.ant-menu {
  ::after {
    border: none !important;
  }

  &-submenu {
    border: none !important;
  }

  &-item {
    background: inherit !important;
    border: none !important;

    &-selected {
      color: inherit !important;
    }

    &-active {
      color: inherit !important;
    }
  }
}
