h1 {
  font-family: 'Merriweather';
}

.form {
  &-item {
    &-input,
    &-button {
      border: none;
      border-radius: 4px;
    }

    &-input {
      box-shadow: none;
    }

    &-input:hover {
      border-bottom: 1px solid var(--cyan-7);
    }

    &-button {
      text-transform: uppercase;
    }

    &-button,
    &-button:hover,
    &-button:focus {
      background: var(--cyan-7);
      color: var(--grey-1);
    }

    &-button:hover {
      box-shadow: 1px 1px 5px var(--grey-8);
    }
  }
}
