/* Media Queries */
$xs: 576px;
$sm: 768px;
$md: 992px;
$lm: 1200px;

h1 {
  font-family: 'Merriweather';
}

.form {
  &-item {
    &-has-error {
      margin-bottom: 5px;
    }

    &-input,
    &-button {
      border: none;
      border-radius: 4px;
    }

    &-input {
      box-shadow: none;
      color: var(--grey-13);
    }

    &-input:hover {
      box-shadow: 0 1px var(--cyan-7);
    }

    &-input-has-error,
    &-input:hover {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &-input-has-error,
    &-input-has-error:hover {
      box-shadow: 0 1px var(--red-6);
    }

    &-button {
      text-transform: uppercase;
    }

    &-button,
    &-button:hover,
    &-button:focus {
      background: var(--cyan-7);
      color: var(--grey-1);
    }

    &-button:hover {
      box-shadow: 1px 1px 5px var(--grey-8);
    }

    &-button:disabled,
    &-button:disabled:hover {
      background: var(--grey-5);
    }
  }

  &-error {
    color: var(--red-6);
    white-space: break-spaces;
  }
}
