.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans';

    &-path {
      margin-bottom: auto;
    }
  }
}
